[Desktop Entry]
Name=Tempest
Name[uk]=Буря
Exec=cosmic-ext-applet-tempest
Terminal=false
Type=Application
StartupNotify=true
Icon=com.vintagetechie.CosmicExtAppletTempest
Categories=COSMIC;
Keywords=COSMIC
Keywords=Космік
MimeType=
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto